/**
*/
body {
  max-width: 500px;
  margin: auto;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1533460004989-cef01064af7e?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Z3Jhc3N8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80");

  background-size: cover;
  color: rgb(77, 255, 42);

  text-shadow: 2px 2px black;
  display: grid;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  grid-template-columns: auto 500px auto;
  grid-template-rows: 300px 200px 200px 300px;
  grid-column: 2;
}

div.In1 {
  text-align: center;
  font-size: 25px;
  background-color: rgba(235, 148, 222, 0.993);
}

div.Input {
  display: grid;
  grid-template-columns: 300px 70px;
  grid-template-rows: auto;
  column-gap: 10px;
  padding: 10px;
  font-size: 22px;
  background-color: pink;
  transition-property: color;
  transition-duration: 0.5s;
}

h1 {
  grid-column: 3 / span 5;
  text-align: center;
  background-color: rgb(248, 113, 181);

  padding-top: 0px;
  padding-bottom: 5px;
  border-style: dotted;

  font-size: 36px;
}

.ageGuesser {
  text-align: center;
  font-size: 25px;
  background-color: rgb(233, 181, 225);
}
